@import '_variables';

html {
  font-family: $openSans;
  font-size: 18px;
  line-height: 2;
  font-weight: $sansReg;
  color: $gray;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
main,
p,
ul,
ol,
dl,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a,
button {
  font: inherit;
  color: inherit;
}
